.register {
  height: 100vh;
  background-color: rgb(136, 171, 241);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: row-reverse;
  background-color: white;
  border-radius: 10px;
  height: 600px;
  overflow: hidden;
}

/* .left {
    flex: 1;
    background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
      url("https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600")
        center;
    background-size: cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
  }
  .left h1 {
    font-size: 100px;
    line-height: 100px;
    color: aqua;
  }
  .left span {
    font-size: 14px;
  }
  .left button {
    width: 50%;
    padding: 10px;
    border: none;
    background-color: white;
    color: rebeccapurple;
    cursor: pointer;
    font-weight: bold;
  } */

.registerform {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registerform h1 {
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerform form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.registerform input {
  border: none;
  border-bottom: 1px solid lightgray;
  padding: 15px 10px;
}

.registerform button {
  padding: 20px;
  border: none;
  background-color: #0715cf;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
.registerform p {
  color: rgb(17, 38, 224);
}
