.cart-items {
  background: #f6f9fc;
  height: auto;
  padding: 50px 0;
}

.cart-items .cart-details {
  flex: 1;
  position: relative;
}

.containerCart {
  max-width: 80%;
  margin: auto;
}

.inputQuantity {
  min-width: 30px;
  height: 40px;
  /* border: 1px solid lightgray; */
  background-color: rgb(238, 235, 235);
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.conteinerDetailsCart {
  flex: 1;
}

.reset {
  background-color: transparent;
  color: #e94560;
  position: absolute;
  top: 6px;
  right: 10px;
  cursor: pointer;
}

.cart-items .cart-total {
  width: 40%;
  margin-top: 30px;
  /* margin-left: 30px; */
  height: 130px;
}
.cart-list {
  background: white;
  margin-top: 30px;
}

.cart-items .img {
  width: 150px;
  margin: auto;
  flex: 1;
}
.cart-items .img img {
  /* width: 100%; */
  height: 100%;
  max-width: 200px;
  object-fit: cover;
  position: relative;
}

.ver {
  position: absolute;
  top: 40%;
  left: 8%;
  margin: auto;
  padding: 6px;
  border-radius: 6px;
  color: transparent;
  background-color: transparent;
}
.ver:hover {
  color: rgb(56, 78, 202);
  background-color: rgb(245, 200, 200);
}
.cart-items .cart-details h3 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}
.cart-items .cart-details .cart-details-cantPrice {
  font-size: 15px;
  font-weight: 400;
  margin-top: 50px;
  color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.cart-items .cart-details-cantPrice span {
  color: #e94560;
  margin-left: 20px;
  font-weight: 500;
}
.resetNone {
  display: none;
}
.removeCart {
  background: none;
  font-size: 25px;
  text-align: right;
  margin-right: 10px;
  cursor: pointer;
}

.cartControl {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartControl button {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  background: none;
  border: 1px solid rgb(3 0 71 / 9%);
}

.removeProduct {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 15px;
  color: #e94560;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 500ms ease;
  z-index: 1;
}

.removeProduct:hover {
  transform: scale(1.2);
}

.d_flexCart {
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
}
.incCart .desCart {
  background: none;
  border: 1px solid rgb(3 0 71 / 9%);
  color: #e94560;
}
/* .desCart .incCart {
  background: #e1e3e4;
} */
.cart-total .cart-details-cantPrice {
  font-size: 15px;
  font-weight: 400;
}
.cart-total h3 {
  font-size: 20px;
  font-weight: 500;
  color: #e94560;
}
.cart-total h2 {
  font-size: 18px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(3 0 71 / 9%);
  padding-bottom: 10px;
  color: #e94560;
}
.no-items {
  color: #e94560;
  /* font-size: 18px;
  margin-top: 30px;
  height: 130px; */
}

.keepShopping {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #0070ba;
}

.icon_cartEmpty {
  font-size: 135px;
}

.productCart {
  background: #fff;
  padding: 9px 6px;
  position: relative;
  border-radius: 8px;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  height: 253px;
}

.div_no_cartItem {
  max-width: 1150px;
  margin: 0 auto;
  /* height: 0px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #808080;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .cart-items {
    background: #f6f9fc;
    height: auto;
    padding: 50px 0;
  }

  .cart-items .cart-details {
    width: 85%;
  }

  .cart-items .cart-total {
    width: 40%;
    margin-top: 30px;
    /* margin-left: 30px; */
    height: 130px;
  }
  .cart-list {
    background: white;
    margin-top: 30px;
  }

  .cart-items .img {
    width: 150px;
    height: 150px;
    margin: auto;
  }
  .cart-items img {
    /* width: 100%; */
    height: 100%;
    object-fit: contain;
  }
  .cart-items .cart-details h3 {
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
  }
  .cart-items .cart-details .cart-details-cantPrice {
    font-size: 15px;
    font-weight: 400;
    margin-top: 50px;
    color: grey;
  }
  .cart-items .cart-details-cantPrice span {
    color: #e94560;
    margin-left: 20px;
    font-weight: 500;
  }
  .removeCart {
    background: none;
    font-size: 25px;
    text-align: right;
    position: absolute;
    right: 0;
    cursor: pointer;
  }
  .cartControl {
    margin-top: 50px;
  }
  .cartControl button {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
  }
  .incCart {
    background: none;
    border: 1px solid rgb(3 0 71 / 9%);
    color: #e94560;
  }
  /* .desCart {
    background: #f6f9fc;
  } */
  .cart-total .total {
    align-items: center;
    display: flex;
    gap: 20px;
  }
  .cart-total .cart-details-cantPrice {
    font-size: 12px;
    font-weight: 400;
  }
  .cart-total h3 {
    font-size: 20px;
    font-weight: 500;
    color: #e94560;
  }
  .cart-total h2 {
    font-size: 18px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(3 0 71 / 9%);
    padding-bottom: 10px;
    color: #e94560;
  }
  .no-items {
    color: #e94560;
    font-size: 18px;
    margin-top: 0px;
    /* height: 130px; */
  }
}
@media (max-width: 950px) {
  .productCart {
    background: #fff;
    padding: 9px 6px;
    position: relative;
    border-radius: 8px;
    box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
    height: 253px;
  }

  .cart-items {
    background: #f6f9fc;
    height: auto;
    padding: 50px 0;
  }

  .cart-items .cart-details {
    width: 100%;
  }

  .cart-items .cart-total {
    width: 40%;
    margin-top: 30px;
    /* margin-left: 30px; */
    height: 130px;
  }
  .cart-list {
    background: white;
    margin-top: 30px;
  }

  .cart-items .img {
    width: 150px;
    height: 150px;
    margin: auto;
  }
  .cart-items img {
    /* width: 100%; */
    height: 100%;
    object-fit: contain;
  }
  .cart-items .cart-details h3 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
  }

  .cart-items .cart-details-cantPrice span {
    color: #e94560;
    margin-left: 20px;
    font-weight: 500;
  }
  .removeCart {
    background: none;
    font-size: 25px;
    text-align: right;
    margin-right: 10px;
    cursor: pointer;
  }
  .cartControl {
    margin-top: 50px;
  }
  .cartControl button {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
  }
  .incCart {
    background: none;
    border: 1px solid rgb(3 0 71 / 9%);
    color: #e94560;
  }
  /* .desCart {
    background: #f6f9fc;
  } */

  .cart-total .total {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cart-total .cart-details-cantPrice {
    font-size: 12px;
    font-weight: 400;
  }
  .cart-total h3 {
    font-size: 20px;
    font-weight: 500;
    color: #e94560;
  }
  .cart-total h2 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(3 0 71 / 9%);
    padding-bottom: 10px;
    color: #d15268;
  }
  .no-items {
    color: #e94560;
    font-size: 18px;
    margin-top: 30px;
    height: 130px;
  }
}
@media (max-width: 800px) {
  .containerCart {
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
  }

  /* .inputQuantity {
    width: 100px;
    height: 40px;
    background-color: yellowgreen;
  } */

  .cart-items {
    background: #f6f9fc;
    height: auto;
    padding: 50px 0;
  }

  .cart-items .cart-details {
    width: 100%;
  }

  .cart-items .cart-total {
    width: 100%;
    margin-top: 30px;
    margin: auto;
    height: 100px;
  }
  .cart-list {
    background: white;
    margin-top: 30px;
  }

  .cart-items .img {
    width: 150px;
    height: 150px;
    margin: auto;
  }
  .cart-items img {
    /* width: 100%; */
    height: 100%;
    object-fit: contain;
  }
  .cart-items .cart-details h3 {
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
  }
  .cart-items .cart-details .cart-details-cantPrice {
    font-size: 14px;
    font-weight: 400;
    margin-top: 40px;
    color: grey;
  }
  .cart-items .cart-details-cantPrice span {
    color: #e94560;
    margin-left: 20px;
    font-weight: 500;
  }

  .conteinerDetailsCart {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
  }

  .cartControl {
    margin-top: 50%;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  .cartControl button {
    width: 40px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  .incCart {
    background: none;
    border: 1px solid rgb(3 0 71 / 9%);
    color: #e94560;
  }
  /* .desCart {
    background: #f6f9fc;
  } */
  .cart-total .total {
    align-items: center;
  }
  .cart-total .cart-details-cantPrice {
    font-size: 12px;
    font-weight: 400;
  }
  .cart-total h3 {
    font-size: 14px;
    font-weight: 500;
    color: #e94560;
  }
  .cart-total h2 {
    font-size: 16px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(3 0 71 / 9%);
    padding-bottom: 10px;
    color: #e94560;
  }
  .no-items {
    color: #e94560;
    font-size: 18px;
    margin-top: 30px;
    height: 130px;
  }
}
@media (max-width: 720px) {
  .d_flexCart {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .productCart {
    background: #fff;
    padding: 9px 6px;
    position: relative;
    border-radius: 8px;
    box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
    height: 253px;
  }
}

@media (max-width: 375px) {
  .div_no_cartItem {
    margin-bottom: 70px;
  }

  .cartControl button {
    width: 40px;
    height: 30px;
    margin: 3px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
  }
  .cart-items .cart-details .cart-details-cantPrice {
    gap: 0px;
  }
}

@media (max-width: 305px) {
  .containerCart {
    max-width: 100%;
    margin: auto;
  }
}
