.titleCat {
  color: gray;
  font-size: 20px;
  font-weight: 500;
}

.cateBanner img {
  width: 100%;
}
/* -------------------------------- */

.containerr {
  height: calc(100vh - 100px);
  display: flex;
}

.searchProduct {
  box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.2);
}

.descProduct {
  font-size: 8px;
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 20px 0;
  border-top: 1px solid rgb(235, 235, 239);
  margin-top: 20px;
}

.descProduct h1 {
  color: rgb(114, 110, 110);
}

.descProduct p {
  font-size: 12px;
  color: rgb(106, 104, 101);
  margin-bottom: 10px;
  z-index: 1;
}

.images {
  flex: 1;
  position: absolute;
  top: 0px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin: 60px 0px; */
}

.sliderWrapper {
  display: flex;
  position: relative;
  justify-content: end;
}

.sliderImg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sliderImg .imgProduct {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.images img {
  width: 100%;
  height: 70px;
  object-fit: contain;
  cursor: pointer;
  margin-bottom: 10px;
}
.images img.active {
  border-radius: 10px;
  border: 1px solid rgb(6, 6, 233);
}

.leftt {
  flex: 2;
  border-right: 1px solid rgb(235, 235, 239);
  margin: auto;
}

.rightt {
  flex: 1;
  display: flex;
  align-items: start;
  flex-direction: column;
  padding-left: 20px;
  margin: auto;
  gap: 40px;
}

.imgContainer {
  width: 80%;
  height: 80%;
  position: relative;
}

.precioUnidad {
  color: rgb(172, 172, 201);
  font-size: 16px;
}

.cantidad {
  font-size: 20px;
  gap: 20px;
  display: flex;
  margin-bottom: 20px;
}

.addCart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.count {
  margin: 10px;
  padding: 10px;
}
.buttonCant button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}

.pricee {
  color: #df3207;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid #d1411e;
}

.buttonp {
  border: none;
  padding: 20px;
  color: white;
  font-weight: 700;
  height: 100%;
  width: 100%;
  font-size: 14px;
  background-color: #0715cf;
  border-radius: 6px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .containerProduct {
    max-width: 100%;
  }
  .containerr {
    height: calc(80vh - 100px);
  }
  .sliderImg {
    width: 90%;
    height: 50vh;
    object-fit: contain;
  }

  .images {
    flex: 1;
    position: absolute;
    top: 20px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .leftt {
    flex: 2;
    border-right: 1px solid rgb(235, 235, 239);
  }
  .rightt {
    flex: 1;
    gap: 30px;
  }
  .sliderImg .imgProduct {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
  }
}
@media (max-width: 800px) {
  .containerProduct {
    max-width: 100%;
    flex-direction: column;
  }

  .containerr {
    height: calc(100vh - 100px);
  }
  .sliderImg {
    width: 85%;
    height: 50vh;
    object-fit: contain;
  }

  .images {
    flex: 1;
    position: absolute;
    top: 20px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .images img {
    max-width: 100%;
    height: 60px;
    object-fit: contain;
    cursor: pointer;
  }
  .sliderImg {
    width: 60%;
    /* width: 100%; */
    height: 35vh;
    object-fit: contain;
  }

  .rightt {
    flex: 2;
    display: flex;
    /* align-items: start; */
    flex-direction: column;

    margin: auto;
    gap: 0px;
  }

  .descProduct {
    font-size: 6px;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 0px;
    border-top: 1px solid rgb(235, 235, 239);
    margin-top: 20px;
  }

  .descProduct h1 {
    color: rgb(114, 110, 110);
    font-size: 12px;
  }

  .descProduct p {
    font-size: 12px;
    color: rgb(106, 104, 101);
    margin-bottom: 10px;
    z-index: 1;
  }

  .leftt {
    flex: 1;
    border-right: none;
    margin-bottom: 30px;
  }

  .descProduct {
    padding: 0px;
  }

  .rightt {
    flex: 1;
    display: flex;
    margin: auto;
  }

  .sliderWrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 600px;
  }
}
@media (max-width: 620px) {
  .containerProduct {
    max-width: 100%;
    flex-direction: column;
  }

  .containerr {
    height: calc(100vh - 100px);
  }

  .leftt {
    flex: 1;
    border-right: none;
    margin-bottom: 30px;
  }

  .sliderWrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 600px;
  }

  .images {
    flex: 1;
    position: absolute;
    top: 20px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .images img {
    max-width: 100%;
    height: 60px;
    object-fit: contain;
    cursor: pointer;
  }

  .sliderImg {
    width: 60%;
    /* width: 100%; */
    height: 35vh;
    object-fit: contain;
  }

  .rightt {
    flex: 2;
    display: flex;
    /* align-items: start; */
    flex-direction: column;

    margin: auto;
    gap: 0px;
  }
  .titlee {
    margin-bottom: -10px;
  }

  .imgContainer {
    width: 80%;
    height: 80%;
    position: relative;
  }

  .precioUnidad {
    color: rgb(172, 172, 201);
    font-size: 16px;
  }

  .cantidad {
    font-size: 14px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .count {
    margin: 5px;
  }

  .buttonCant button {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
  }

  .pricee {
    color: #df3207;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #d1411e;
  }

  .descProduct {
    font-size: 6px;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 0px;
    border-top: 1px solid rgb(235, 235, 239);
    margin-top: 20px;
  }

  .descProduct h1 {
    color: rgb(114, 110, 110);
    font-size: 12px;
  }

  .descProduct p {
    font-size: 12px;
    color: rgb(106, 104, 101);
    margin-bottom: 10px;
    z-index: 1;
  }
}
@media (max-width: 550px) {
  .containerProduct {
    max-width: 100%;
    flex-direction: column;
  }

  .containerr {
    height: calc(67vh - 100px);
  }

  .leftt {
    flex: 1;
    border-right: none;
    margin-bottom: 30px;
  }

  .sliderWrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 600px;
  }

  .images {
    flex: 1;
    position: absolute;
    top: 20px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .images img {
    max-width: 100%;
    height: 60px;
    object-fit: contain;
    cursor: pointer;
  }

  .sliderImg {
    width: 60%;
    height: 35vh;
    object-fit: contain;
  }

  .rightt {
    flex: 2;
    display: flex;
    /* align-items: start; */
    flex-direction: column;
    margin: auto;
    gap: 0px;
  }

  .imgContainer {
    width: 80%;
    height: 80%;
    position: relative;
  }

  .precioUnidad {
    color: rgb(172, 172, 201);
    font-size: 16px;
  }

  .cantidad {
    font-size: 14px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .count {
    margin: 10px;
  }

  .buttonCant button {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
  }

  .pricee {
    color: #df3207;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #d1411e;
  }

  .descProduct {
    font-size: 6px;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 0px;
    border-top: 1px solid rgb(235, 235, 239);
    margin-top: 20px;
  }

  .descProduct h1 {
    color: rgb(114, 110, 110);
    font-size: 12px;
  }

  .descProduct p {
    font-size: 12px;
    color: rgb(106, 104, 101);
    margin-bottom: 10px;
    z-index: 1;
  }
}
@media (max-width: 450px) {
  .containerProduct {
    max-width: 100%;
    flex-direction: column;
  }

  .containerr {
    height: calc(80vh - 100px);
  }

  .leftt {
    flex: 1;
    border-right: none;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
  }

  .sliderWrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 415px;
  }

  .images {
    flex: 1;
    flex-direction: row;
    display: flex;
    /* margin-top: 60%;
    margin-left: 33%; */
    /* display: none; */
    position: absolute;
    top: 100%;
    right: 0;
  }

  .images img {
    max-width: 30%;
    height: 64px;
    object-fit: contain;
    cursor: pointer;
    gap: 10px;
  }

  .sliderImg {
    width: 100%;
    height: 26vh;
  }

  .rightt {
    flex: 1;
    display: flex;
    /* align-items: start; */
    flex-direction: column;

    margin: auto;
    gap: 0px;
  }

  .titlee {
    margin-bottom: 0px;
  }

  .imgContainer {
    width: 80%;
    height: 80%;
    position: relative;
  }

  .precioUnidad {
    color: rgb(172, 172, 201);
    font-size: 14px;
  }

  .cantidad {
    font-size: 12px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .count {
    margin: 5px;
  }

  .buttonp {
    padding: 5px;
  }

  .pricee {
    color: #df3207;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #d1411e;
  }

  .rightt .titlee {
    color: #1f1918;
    font-size: 20px;
    font-weight: bold;
  }
  .descProduct {
    font-size: 6px;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 0px;
    border-top: 1px solid rgb(235, 235, 239);
    margin-top: 20px;
  }

  .descProduct h1 {
    color: rgb(114, 110, 110);
    font-size: 12px;
  }

  .descProduct p {
    font-size: 12px;
    color: rgb(106, 104, 101);
    margin-bottom: 10px;
    z-index: 1;
  }
}
@media (max-width: 375px) {
  .containerProduct {
    max-width: 100%;
    flex-direction: column;
  }

  .containerr {
    height: calc(80vh - 100px);
  }

  .leftt {
    flex: 1;
    border-right: none;
    margin-bottom: 30px;
  }
  /* .leftt .sliderImg {
    width: 45%;
    height: 20vh;
    object-fit: contain;
  } */

  .images img {
    max-width: 30%;
    height: 60px;
    object-fit: contain;
    cursor: pointer;
    gap: 10px;
  }
  .sliderImg {
    width: 75%;
    height: 26vh;
    object-fit: cover;
  }

  .sliderWrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 370px;
  }

  .images {
    flex: 1;
    flex-direction: row;
    display: flex;
    /* margin-top: 60%;
    margin-left: 33%; */
    /* display: none; */
    position: absolute;
    top: 100%;
    right: 0;
  }

  .rightt {
    flex: 1;
    display: flex;
    /* align-items: start; */
    flex-direction: column;

    margin: auto;
    gap: 0px;
  }

  .buttonCant button {
    padding: 6px;
    border-radius: 10px;
    border: 1px solid gray;
  }

  .imgContainer {
    width: 80%;
    height: 80%;
    position: relative;
  }

  .precioUnidad {
    color: rgb(172, 172, 201);
    font-size: 12px;
  }

  .cantidad {
    font-size: 12px;
    gap: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
    margin-bottom: 20px;
  }

  .count {
    margin: 5px;
  }
  .buttonp {
    padding: 8px;
    font-size: 12px;
  }

  .pricee {
    color: #df3207;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #d1411e;
  }
  .descProduct {
    margin-top: 45px;
  }
  .descProduct {
    padding: 0px;
  }
  .descProduct {
    font-size: 6px;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 0px;
    border-top: 1px solid rgb(235, 235, 239);
    margin-top: 20px;
  }

  .descProduct h1 {
    color: rgb(114, 110, 110);
    font-size: 12px;
  }

  .descProduct p {
    font-size: 12px;
    color: rgb(106, 104, 101);
    margin-bottom: 10px;
    z-index: 1;
  }
}
