.containerr {
  height: calc(100vh - 100px);
  display: flex;
}

.images {
  flex: 1;
  position: absolute;
  top: 0px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  /* margin: 60px 0px; */
}

.sliderWrapper {
  display: flex;
  position: relative;
  justify-content: end;
}

.sliderImg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sliderImg .imgProduct {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.images img {
  width: 100%;
  height: 70px;
  object-fit: contain;
  cursor: pointer;
  margin-bottom: 10px;
}
.images img.active {
  border-radius: 10px;
  border: 1px solid rgb(6, 6, 233);
}

.leftt {
  flex: 0.8;
  border-right: 1px solid rgb(235, 235, 239);
  margin: auto;
}

.rightt {
  flex: 1;
  display: flex;
  align-items: start;
  flex-direction: column;
  padding-left: 20px;
  margin: auto;
  gap: 40px;
}

.imgContainer {
  width: 80%;
  height: 80%;
  position: relative;
}

.precioUnidad {
  color: rgb(172, 172, 201);
  font-size: 16px;
}

.cantidad {
  font-size: 20px;
  gap: 20px;
  display: flex;
  margin-bottom: 20px;
}

.addCart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.count {
  margin: 10px;
  padding: 10px;
}
.buttonCant button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}

.pricee {
  color: #df3207;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid #d1411e;
}

.buttonp {
  border: none;
  padding: 20px;
  color: white;
  font-weight: 700;
  height: 100%;
  width: 100%;
  font-size: 14px;
  background-color: #0715cf;
  border-radius: 6px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .containerProduct {
    max-width: 100%;
  }
  .containerr {
    height: calc(70vh - 100px);
  }
  .sliderImg {
    width: 80%;
    height: 40vh;
    object-fit: contain;
  }

  .images {
    flex: 1;
    position: absolute;
    top: 80px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .leftt {
    flex: 1;
    border-right: 1px solid rgb(235, 235, 239);
  }
  .rightt {
    flex: 1;
    gap: 30px;
  }
  .sliderImg .imgProduct {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
@media (max-width: 800px) {
  .containerProduct {
    max-width: 80%;
  }
  .containerr {
    height: calc(75vh - 100px);
  }
  .sliderImg {
    width: 80%;
    height: 40vh;
    object-fit: contain;
  }

  .images {
    flex: 1;
    position: absolute;
    top: 0px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .sliderImg {
    width: 100%;
    height: 25vh;
    object-fit: cover;
  }
  .leftt {
    flex: 2;
    height: 40vh;
    margin: auto;
  }

  .rightt {
    flex: 1.5;
    display: flex;
    margin: auto;
  }
}
@media (max-width: 620px) {
  .images {
    flex: 1;
    position: absolute;
    top: 0px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .sliderImg {
    width: 100%;
    height: 35vh;
    object-fit: cover;
  }

  .rightt {
    flex: 1;
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: 80px 0px;
    gap: 20px;
  }

  .imgContainer {
    width: 80%;
    height: 80%;
    position: relative;
  }

  .precioUnidad {
    color: rgb(172, 172, 201);
    font-size: 16px;
  }

  .cantidad {
    font-size: 14px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .count {
    margin: 10px;
  }

  .buttonCant button {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
  }

  .pricee {
    color: #df3207;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #d1411e;
  }
}
@media (max-width: 550px) {
  .images {
    flex: 1;
    position: absolute;
    top: 0px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .sliderImg {
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }

  .rightt {
    flex: 1;
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: 80px 20px;
    gap: 10px;
  }

  .imgContainer {
    width: 80%;
    height: 80%;
    position: relative;
  }

  .precioUnidad {
    color: rgb(172, 172, 201);
    font-size: 16px;
  }

  .cantidad {
    font-size: 14px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .count {
    margin: 10px;
  }

  .buttonCant button {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
  }

  .pricee {
    color: #df3207;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #d1411e;
  }
}
@media (max-width: 450px) {
  .containerProduct {
    flex-direction: column;
  }

  .leftt {
    flex: 0.5;
    border-right: none;
    border-bottom: 1px solid rgb(235, 235, 239);
    margin: auto;
  }

  .sliderWrapper {
    justify-content: center;
  }

  .images {
    flex: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
  }
  .images img {
    width: 80%;
    height: 50px;
    object-fit: contain;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .sliderImg {
    width: 70%;
    height: 20vh;
    object-fit: cover;
  }

  .rightt {
    flex: 1;
    display: flex;

    flex-direction: column;
    margin: auto;
    gap: 10px;
  }

  .imgContainer {
    width: 80%;
    height: 80%;
    position: relative;
  }

  .precioUnidad {
    color: rgb(172, 172, 201);
    font-size: 14px;
  }

  .cantidad {
    font-size: 12px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .count {
    margin: 10px;
  }

  .buttonCant .button {
    padding: 5px;
    border: 1px solid gray;
    background-color: yellowgreen;
    border-radius: 5px;
  }

  .pricee {
    color: #df3207;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #d1411e;
  }
}
@media (max-width: 375px) {
  .containerProduct {
    flex-direction: column;
  }

  .leftt {
    flex: 0.5;
    border-right: none;
    border-bottom: 1px solid rgb(235, 235, 239);
    margin: auto;
  }

  .sliderWrapper {
    justify-content: center;
  }

  .sliderImg {
    width: 60%;
    height: 20vh;
    object-fit: cover;
  }

  .rightt {
    flex: 0.5;
    display: flex;

    flex-direction: column;
    margin: auto;
    gap: 10px;
  }

  .imgContainer {
    width: 80%;
    height: 80%;
    position: relative;
  }

  .precioUnidad {
    color: rgb(172, 172, 201);
    font-size: 12px;
  }

  .cantidad {
    font-size: 12px;
    gap: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 4px;
  }

  .count {
    margin: 5px;
  }
  .buttonp {
    padding: 8px;
    font-size: 12px;
    margin-bottom: 30px;
  }

  .pricee {
    color: #df3207;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #d1411e;
  }
}
